@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
	background: #fff;
	color: #69606b;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.5;
	font-family: 'Raleway', Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}


a {
	outline: none;
	color: #cf4a5c;
	text-decoration: none;
}

a:hover, a:focus {
	color: #69606b;
}

a {
	color: #43939d;
}

a:hover, a:focus {
	color: #7b8d92;
}

.related {
	padding: 1em 0 0;
	text-align: center;
	font-size: 1.5em;
	position: relative;
	height: 300px;
}

@media screen and (max-width: 40em) {

	.related {
		font-size: 80%;
	}

}